<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4426D0B25EE2EDA0015BBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4426D1F25EE2EDB0015BBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4426D2A25EE2EDB0015BBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
